# BlockVision API
BLOCKVISION_API_KEY=your_blockvision_api_key
BLOCKVISION_API_BASE=https://api.blockvision.org/v2/monad

# Imgflip API
IMGFLIP_USERNAME=imgflipusername
IMGFLIP_PASSWORD=imgflippassword
# Pinata IPFS
PINATA_API_KEY=pinataapikey
PINATA_SECRET=pinatasecret

# Alchemy
ALCHEMY_API_URL=alchemyapiurl


# Wallet
USER_PRIVATE_KEY=yourprivatekey
USER_WALLET_ADDRESS=yourpublicaddress

# Magic Eden (if you're using it)
MAGIC_EDEN_API_KEY=magicedenapiifavailable